* {
  margin: 0;
}
section {
  display: flex;
  height: 100vh;
  background-color: #161e2f; /*161e2f    #071739*/
  width: 100%;
  justify-content: center;
  align-items: center;
}
#cambiarIdioma {
  background-color: transparent;
  font-weight: 700;
  color: white;
  position: absolute;
  height: 50px;
  width: 50px;
  right: 25px;
  top: 15%;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  border: 2px solid black;
}
#cambiarIdioma::before {
  position: absolute;
  content: "";
  background-color: white;
  color: white;
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: 0.5s all;
}

#cambiarIdioma:hover::before {
  top: -30px;

  left: -30px;
}
#cambiarIdioma:hover {
  transition: 0.8s all;
  color: black;
}
#section_cuadro {
  text-align: center;
  background-color: rgb(0 0 0 / 31%);
  border-radius: 2em;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border: black 4px solid;
  position: absolute;
  width: 42%;
}

.titulo_animado {
  color: transparent;
  background: linear-gradient(-60deg, #ffffff 40%, #727171 40%);
  background-clip: text;
  background-size: 200%;
  animation: text-animation 2s infinite linear;
}
@keyframes text-animation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

.shadow_pop_tr {
  -webkit-animation: shadow-pop-tr 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-tr 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation-delay: 1.5s;
}
/*linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% )*/
.btn_section {
  height: 60px;
  width: 20%;
  border-radius: 2em;
  border-style: none;
  background-color: white;
  margin: 2em;
  margin-top: 1.4em;
  box-shadow: 10px 10px 20px black;
  z-index: 1;
  overflow: hidden;
  border: 3px solid rgb(0, 0, 0);
  position: relative;
  color: black;
}
.bounce_top {
  -webkit-animation: bounce-top 0.9s 1s both;
  animation: bounce-top 0.9s 1s both;
}
.bounce_top::before {
  position: absolute;
  content: "";
  background: #727171;
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: 0.8s all;
}

.bounce_top:hover::before {
  top: -30px;
  left: -30px;
}
:global(.btn_links) {
  filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  outline: none;
}

:global(.btn_links_active)::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;

  background: #f6f6f6 !important;
  border-radius: 0px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

:global(.btn_links) span,
:global(.btn_links) span span {
  display: inline-flex;
  vertical-align: middle;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

:global(.btn_links) span {
  transition-delay: 0.05s;
}

:global(.btn_links) span:first-child {
  padding-right: 7px;
}

:global(.btn_links) span span {
  margin-left: 8px;
  transition-delay: 0.1s;
}

:global(.btn_links) ul {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
}

:global(.btn_links) ul li {
  flex: 1;
}

:global(.btn_links) ul li a {
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

:global(.btn_links_active span) {
  transform: translateY(-55px);
}

:global(.btn_links_active ul li a) {
  transform: translateY(0);
}

#section_cuadro h1 {
  white-space: nowrap;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: xx-large;
  border-right: 2px solid black;
  display: inline-flex;
}
.cursor {
  border-right: 2px solid rgb(195, 194, 194);
  animation: blink 0.7s step-end infinite;
  display: inline-block;
  width: 10px;

  height: 1.2em;
}
#section_cuadro h2 {
  margin-top: 10px;
  animation: fadeIn 2s ease-in-out;
  font-size: larger;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 black, 0 0 black, 0 0 black, 0 0 black, 0 0 black,
      0 0 black, 0 0 black, 0 0 black;
    box-shadow: 0 0 black, 0 0 black, 0 0 black, 0 0 black, 0 0 black, 0 0 black,
      0 0 black, 0 0 black;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px black, 2px -2px black, 3px -3px black,
      4px -4px black;
    box-shadow: 1px -1px black, 2px -2px black, 3px -3px black, 4px -4px black;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 black, 0 0 black, 0 0 black, 0 0 black, 0 0 black,
      0 0 black, 0 0 black, 0 0 black;
    box-shadow: 0 0 black, 0 0 black, 0 0 black, 0 0 black, 0 0 black, 0 0 black,
      0 0 black, 0 0 black;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px black, 2px -2px black, 3px -3px black,
      4px -4px black;
    box-shadow: 1px -1px black, 2px -2px black, 3px -3px black, 4px -4px black;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-5px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-3px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-1px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-5px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-3px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-1px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@media (max-width: 480px) {
  #section_cuadro {
    width: 82%;
  }
  #section_cuadro h1 {
    font-size: larger;
  }
  #section_cuadro h2 {
    font-size: medium;
  }
  #section_cuadro button {
    width: 30%;
    font-size: small;
    margin-left: 1em;
    margin-top: 1.4em;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #section_cuadro {
    width: 100%;
    max-width: 60%;
    min-width: 380px;
  }
  #section_cuadro h1 {
    font-size: larger;
  }
  #section_cuadro h2 {
    font-size: medium;
  }
  #section_cuadro button {
    width: 20%;
    font-size: small;
    margin-left: 1em;
    margin-top: 1.4em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #section_cuadro {
    width: 100%;
    max-width: 40%;
    min-width: 380px;
  }
  #section_cuadro h1 {
    font-size: larger;
  }
  #section_cuadro h2 {
    font-size: large;
  }
  #section_cuadro button {
    width: 20%;
    font-size: small;
    margin-left: 1em;
    margin-top: 1.4em;
  }
}
