.section_skills {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.iconos {
  height: auto;
  width: clamp(25px, 5vw, 42px);
  display: inline-block;
}
#skills_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 10px rgb(184, 184, 178);

  position: relative;
  min-height: 100vh;
}
.bg_pan_top {
  -webkit-animation: bg-pan-top 1.5s both;
  animation: bg-pan-top 1.5s both;
}
@-webkit-keyframes bg-pan-top {
  0% {
    background-position: 50% 100%;
    background-color: #ab967bc7;
  }
  100% {
    background-position: 50% 0%;
    background-color: #f7f5f2;
  }
}
@keyframes bg-pan-top {
  0% {
    background-position: 50% 100%;
    background-color: #ab967bc7;
  }
  100% {
    background-position: 50% 0%;
    background-color: #f7f5f2;
  }
}
#skills_container h1 {
  margin: 0;
  font-size: x-large;
}
.titulos {
  position: relative;
  overflow: hidden;
  font-size: clamp(18px, 3.5vw, 24px);
  display: inline-block;
  margin: 3em 0;
  text-align: left;
  letter-spacing: 0.25rem;
  line-height: 3rem;
  white-space: nowrap;
}
.titulos::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color);
  width: 0%;
  height: 100%;
  overflow: hidden;
  border-right: 3px solid black;
  transition: width 0.8s ease;
}
.titulos:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--color));
}

@media (max-width: 480px) {
  #skills_container {
    height: 100%;
    padding: 3em 0;
  }
  .titulos {
    margin: 2.5em 0;
    letter-spacing: 0;
  }
  #skills_container h1 {
    font-size: larger;
  }

  .titulos::before {
    content: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #skills_container {
    height: 100%;
    padding: 3em 0;
  }
  #skills_container h1 {
    font-size: larger;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #skills_container {
    height: 100%;
    padding: 3em 0;
  }
  #skills_container h1 {
    font-size: x-large;
  }
}
